h2{
    @extend .animacion;
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    margin-top: 40px;
    text-align: center;
    font-size: 35px;
}

h3, h4{
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: normal;
    font-size: 18px;
}


.textoLink{
    @extend .animacion;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: normal;
    font-size: 18px;
    display: flex;
    justify-content: center;
}
